USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'kampus')
BEGIN
CREATE DATABASE [kampus] ON  PRIMARY 
( NAME = N'kampus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\kampus.mdf' , SIZE = 2240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kampus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\kampus_log.ldf' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'kampus', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kampus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [kampus] SET DB_CHAINING OFF 
USE [kampus]
GO
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'madara')
CREATE USER [madara] FOR LOGIN [madara] WITH DEFAULT_SCHEMA=[dbo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mahasiswa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[mahasiswa](
	[nim] [char](10) NOT NULL,
	[nama] [varchar](100) NULL,
	[alamat] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[nim] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[matkul]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[matkul](
	[kode_mk] [char](5) NOT NULL,
	[nama_mk] [varchar](30) NULL,
	[sks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kode_mk] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ambil_mk]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ambil_mk](
	[nim] [char](10) NOT NULL,
	[kode_mk] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nim] ASC,
	[kode_mk] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ambil_mk__kode_m__023D5A04]') AND parent_object_id = OBJECT_ID(N'[dbo].[ambil_mk]'))
ALTER TABLE [dbo].[ambil_mk]  WITH CHECK ADD FOREIGN KEY([kode_mk])
REFERENCES [dbo].[matkul] ([kode_mk])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ambil_mk__nim__014935CB]') AND parent_object_id = OBJECT_ID(N'[dbo].[ambil_mk]'))
ALTER TABLE [dbo].[ambil_mk]  WITH CHECK ADD FOREIGN KEY([nim])
REFERENCES [dbo].[mahasiswa] ([nim])
